* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-flow: column wrap;
    font-family: "BLACKJAR", sans-serif;
}

@font-face {
    font-family: "BLACKJAR";
    src: url("font/BLACKJAR.TTF");
}

header {
    background-image: url("images/blue-pattern.jpg");
    background-size: cover;
    background-position: center;
    height: 650px;
}

.header-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url("images/iphone.png");
    background-position: 20vw 382px;
    background-repeat: no-repeat;
}

.header-nav {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 15%;
    width: 71%;
    justify-content: space-between;
}

.logo {
    display: flex;
    height: 100px;
    width: 100px;
    background-color: white;
    box-shadow: 12px 12px 0 2px #3facf9;
    font-family: 'Kaushan Script', cursive;
    justify-content: center;
    font-size: 50px;
    color: #3498db;
}

.nav {
    display: flex;
    font-size: 24px;
    color: white;
    justify-content: center;
    align-items: center;
}

.header-content {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 85%;
    margin: 8vh 0;
    text-align: right;
    justify-content: right;
    color: white;
}

.header-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #f3787a;
    height: 650px;
    width: 100vw;
    opacity: 0.8;
}

.close {
    margin: 5vh 80vw;
}

.icons {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.nav-group {
    margin-top: 10vh;
    margin-left: 40vw;
}

.nav-icons span {
    font-family: sans-serif;
    white-space: nowrap;
    font-style: italic;
    font-size: 20px;
    color: white;
}

.close i {
    color: white;
    font-size: 30px;
}

.visibility {
    display: none;
}

.header-title {
    font-size: 70px;
    font-family: BlackJar, sans-serif;
}

.header-text {
    margin-top: 20px;
    font-size: 31px;
    font-family: "Montserrat", serif;
    letter-spacing: -0.2px;
}

.header-button {
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    width: 172px;
    height: 55px;
    border: 2px solid #fff;
    color: #fff;
}

.header-content-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    margin-right: 5px;
}

input[type=button], button {
    margin-left: 20px;
    font-size: 14px;
    width: 60%;
    text-transform: uppercase;
    height: 100%;
    color: white;
    background-color: transparent;
    border: none;
}

div > i {
    align-self: center;
    margin: 0 20px;
}

.blue-button > i {
    margin: 0;
}

.header-indentation > i {
    margin: 0px;
}

.iphone5 {
    margin-left: 20%;
    margin-top: -7%;
}

.content-about {
    display: flex;
    background-color: #f4f4f4;
    background-image: url("images/ipad.png");
    height: 650px;
    background-repeat: no-repeat;
    background-position: 70.5vw 150px;
}

.about-me {
    margin: 135px 15vw;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-stretch: semi-condensed;
    color: #595c64;
}

.text_title {
    margin-top: 2px;
    margin-left: 0px;
    font-size: 38px;
    letter-spacing: -3.0px;
    word-spacing: 0.1px;
}

.main-text {
    width: 60%;
    margin-top: 30px;
    font-size: 14px;
    line-height: 180%;
    letter-spacing: 0.4px;
}

.additional-text {
    font-size: 15px;
    width: 40vw;
    margin-top: 22px;
    padding-left: 18px;
    border-left: 6px solid #3795f9;
    line-height: 162%;
    font-style: italic;
}

.about-me-button {
    margin-top: 33px;
}

.blue-button, input[class=blue-button] {
    color: #14af8f;
    font-weight: 600;
}

.blue-button-content {
    color: #49bad6;
}

.blue-stroke {
    border: 2px solid #14af8f;
    color: #14af8f;
}

.portfolio {
    display: flex;
    background-color: white;
    background-image: url("images/devices.png");
    height: 650px;
    background-repeat: no-repeat;
    background-position: -2.5vw 274px;
}

.portfolio-content {
    margin: 7% 0 0 55%;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-stretch: semi-condensed;
    color: #595c64;
}

.portfolio-content > .main-text {
    margin-left: 5px;
    font-style: italic;
    font-weight: 900;
    width: 65%;
}

.portfolio-content > .additional-text {
    margin-top: 25px;
    margin-left: 5px;
    border-left: none;
    padding: 0;
    width: 66%;
    font-style: normal;
}

.portfolio-text {
    letter-spacing: -2.0px;
}

.portfolio-content-button {
    margin-top: 36px;
    margin-left: 8px;
}

.pink-button, input[class=pink-button] {
    color: #ea4c89;
}

.pink-stroke {
    width: 223px;
    border: 2px solid #ea4c89;
    color: #ea4c89;
}

.donate {
    display: flex;
    background-image: url("images/green-pattern.jpg");
    background-size: cover;
    height: 327px;
}

.donate-content {
    margin: 88px auto;
    font-family: 'Montserrat', sans-serif;
    font-stretch: semi-condensed;
    color: white;
}

.donate-content-text {
    letter-spacing: -0.5px;
    word-spacing: -1px;
}

.donate-content-button {
    margin: 33px 19%;
}

.white-button {
    color: white;
}

.white-stroke {
    width: 223px;
    border: 2px solid white;
    color: white;
}

.contact {
    background-color: #f4f4f4;
    height: 650px;
    display: flex;
}

.contact-content {
    margin: 220px auto;
}

.socials-icons {
    display: flex;
    flex-direction: row;
    margin-left: 29px;
}

.socials-icons > i {
    margin: 20px 17px;
    border: 3px solid #545454;
    width: 56px;
    height: 56px;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
}

.subscription {
    width: 130%;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.nav-icons > i {
    font-size: 1.5rem;
    color: #49c6ef;
    background-color: white;
    width: 56px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    border-radius: 28px;
}

.nav-icons {
    margin: 10px;
}

.contact-email {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    width: 215px;
    height: 42px;
    background-color: white;
    border-radius: 12px;
}

.subscription-text {
    align-self: center;
    letter-spacing: 0.8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    color: #545454;
}

input[type=email] {
    margin-left: 9%;
    width: 80%;
    border: none;
    font-style: italic;
    font-size: 13px;
    font-weight: bold;
}

input[type=email]::-webkit-input-placeholder {
    color: #d1d1d1;
}

footer {
    background-color: white;
    height: 100px;
}

.to-top {
    text-align: center;
    margin-top: 48px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 0.2px;
}

.to-top span {
    font-style: normal;
}

.colour-to-top {
    color: #6dc5ea;
}

input[type=button]:hover, button:hover {
    cursor: pointer;
}

.nav:hover, .header-button:hover, .socials-icons > i:hover, .nav-icons > i:hover, #close:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 2px #36879a;
}

@media screen and (max-width: 1120px) {
    .portfolio {
        height: 90vw;
        background-position: 0 45vw;
        background-size: 75%;
    }

    .portfolio-content {
        margin: 20px 4vw;
    }

    .contact-content {
        margin: 10% auto;
    }
}

@media screen and (max-width: 800px) {
    .content-about {
        background-size: 40%;
    }

    .about-me {
        margin: 20px 10vw;
    }

    .header-text {
        font-size: 26px;
    }

    .portfolio {
        height: 450px;
        background-position: 30vw 250px;
        background-size: 55%;
    }

    .portfolio-content-button {
        margin-top: 0;
    }

    .text_title {
        font-size: 26px;
        letter-spacing: normal;
    }

    .contact {
        height: auto;
    }

    .nav-group {
        margin-left: 15vw;
    }
}

@media screen and (max-width: 600px) {
    .header-container {
        background-position: 25% 350px;
        background-size: 25%;
    }

    .portfolio {
        height: 400px;
        background-position: 50vw 250px;
        background-size: 40%;
    }

    .donate {
        height: auto;
    }

    .content-about, header, .portfolio, .donate, .contact {
        height: auto;
    }
}

@media screen and (max-width: 500px) {
    .logo {
        height: 50px;
        width: 50px;
        font-size: 30px;
    }

    .donate-content {
        margin: 15px auto;
    }

    .donate-content-button {
        margin: auto;
    }

    .header-title {
        font-size: 40px;
    }

    .header-text, .text_title {
        font-size: 18px;
    }

    .main-text, .additional-text {
        font-size: 12px;
    }

    .portfolio {
        background-position: 60vw 250px;
        background-size: 25%;
    }
}

